#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.app-input {
  min-height: 40px;
  /* margin: 20px 0; */
  padding: 0 20px;
  text-align: center;
}

.output-container {
  margin-top: 20px;
}

.result-image {
  max-width: 100%;
}
